.main {
  font-family: monospace;
  padding: 1px 1px;
  border-radius: 2px;
  font-size: 20px;
  margin-top: 2px;
}

.correct {
  color: aquamarine;
}

.incorrect {
  color: indianred;
}

.fixed {
  color: bisque;
}

.current {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

.untyped {
  color: ghostwhite;
}

.twoSpaces {
  padding: 1px 0.5rem;
  opacity: 0.5;
}

.fourSpaces {
  padding: 1px 1rem;
  opacity: 0.5;
}
