@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Dancing Script"),
    url("/fonts/DancingScript-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Dancing Script"),
    url("/fonts/DancingScript-Regular.ttf") format("truetype");
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Dancing Script", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

* {
  box-sizing: border-box;
}
