.title {
  font-size: 3.3rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}

.main > p {
  color: whitesmoke;
  font-size: 1.3rem;
}

.main > p.date {
  color: antiquewhite;
  font-weight: 500;
  margin: -2rem auto 2rem;
}

.backBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.backBtn > a {
  width: 250px;
}
