.main {
  width: 100%;
  grid-area: header;
  padding: 1rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  font-size: 1.75rem;
  font-family: "Dancing Script", cursive;
  color: white;
  cursor: pointer;
  text-shadow: 1px 0px 4px rgb(252, 243, 222), 3px 0px 4px rgb(255, 235, 184),
    2px 0px 3px rgb(248, 248, 226), 2px 3px 15px rgb(248, 248, 226);
}

.logo:hover .flickerSlow {
  animation: flicker 10s linear infinite;
}

.logo:hover .flickerFast {
  animation: flicker 3s linear infinite;
}

.link {
  color: white;
  transition: color 0.2s ease-in-out;
  font-size: 1.3rem;
}

.link:not(:last-of-type) {
  margin-right: 1rem;
}

.link:hover {
  color: wheat;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}
