.textile {
  max-width: 1080px;
  border-radius: 0.75rem;
  background: rgba(88, 95, 100, 0.4);
  margin: 4rem auto;
  padding: 2rem;
}

.textile > h1 {
  text-align: center;
  color: wheat;
}
